<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>

		<add key="VirtualPathFileAccessLink" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)" />
		<add key="VirtualPathFileAccessLink" value="http://localhost/Offline/Public/ViewContainerDocumentation.aspx?consignmentGuid={0}&amp;orderGuid={1}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	</appSettings>
</configuration>