<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="DatabaseConnectionStringDebug" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
		<add name="DatabaseConnectionStringDebug" connectionString="database=Offline;server=(LocalDB)\v11.0;Integrated Security=True;application name=offline local dev;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
		<add name="DatabaseConnectionStringRelease"  xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
		<add name="DatabaseConnectionStringRelease" connectionString="database=Offline;server=(LocalDB)\v11.0;Integrated Security=True;application name=offline local release;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>

	</connectionStrings>
</configuration>